@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

$colorPositive: #58d47e; //79E94A
$colorNegative: #be5454;
$colorNeutral: #999;
$colorMain: #37caa6;
$colorSecondary: #4C83CA;


$fontSize: 18px;


/*
 * Navigation / Logo
 *===============================*/

h1 {
	font-size: $fontSize * 1.7;
	margin: $fontSize/2 0 $fontSize/2;
	color: white;
}

@media screen and (min-width: $screen-sm) {
	.row.header {
		border-radius: 0 0 8px 8px;
	}	
}

#breadcrumbs {
	$color: $colorSecondary;
	margin: 0;
	padding: 0;
	div {
		padding-bottom: 11px;
		padding-top: 8px;
	}
	i {
		font-weight: 700;
		font-size: $fontSize * 1.1;
	}
	h2 {
		font-size: $fontSize;
		margin: 0;
		padding: $fontSize/4;
		display: inline-block;
	}
	#back {
		float: none;
		margin: 0;
		background: none;
		padding: 0;
	}
	a {
		float: right;
		padding: 6px;
		display: inline-block;
		background: $color;
		border-radius: 8px;
		margin-left: $fontSize/2;
		color: lighten($color, 50%);
	}
	a:hover {
		text-decoration: none;
		background: lighten($color, 15%);
	}
	.breadcrumb-buttons {
		box-shadow: 0 3px 0 lighten($color, 15%);
	}
}

.header {
	background: $colorMain;
	background-image: url(header.png);
	background-size: contain;
	background-repeat: x-repeat;
}

/*
 * Home
 *===============================*/

#how-to-popup {
	$colorBg: lighten($colorNeutral, 30%);
	$colorH3: darken($colorPositive, 15%);
	$colorP: darken($colorBg, 40%);
	$colorClose: $colorPositive;
	$colorExit: darken($colorBg, 20%);
	padding: $fontSize;
	margin: $fontSize auto;
	background: $colorBg;
	border-radius: 6px;
	border: 6px dotted darken($colorBg, 10%);
	box-shadow: 5px 5px 0px darken($colorNeutral, 8%);
	max-width: 420px;
	h3 {
		color: $colorH3;
		font-size: $fontSize * 1;
		margin: $fontSize/4 0 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: 700;
	}
	p {
		color: $colorP;
		margin: $fontSize 0;
		font-size: $fontSize * 0.8;
	}
	a.exit-button {
		float: right;
		color: $colorExit;
		text-shadow: 2px 2px 0 lighten($colorExit, 40%), -2px -2px 0 darken($colorExit, 5%);
	}
	a.close-button {
		margin: 0 auto;
		width: 100px;
		text-align: center;
		display: block;
		color: white;
		font-weight: 700;
		padding: 4px;
		background: $colorClose;
		border: 4px solid darken($colorClose, 10%);
	}
	a.close-button:hover {
		text-decoration: none;
		background: lighten($colorClose, 10%);
	}
}

.list-of-sets ul {
	$color: $colorNeutral;
	list-style: inside square;
	padding: 0;
	color: lighten($color, 30%);
	a {
		color: $color;
	}
}

/*
 * Main Content (Universal)
 *===============================*/

.main-content {
	margin-top: $fontSize * 2;
}

/*
 * Study
 *===============================*/


ul.study {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	li {
		margin-bottom: $fontSize;
	}
}

/*
 * Quiz
 *===============================*/

#quiz {
	margin: 0 auto;
	text-align: center;

	#question {
		margin: 2em;
		font-size: $fontSize * 1.2;
		#quiz-question {

		}
		#quiz-answer {
		}
	}
	#quiz-answer {
		display: none;
	}
	#quiz-answer.display-toggle-answer {
		display: inline;
	}
	#quiz-button-correct, #quiz-button-wrong {
		margin: $fontSize/2 0;
	}

	#quiz-button-check { background: $colorNeutral;
		&:hover { background: lighten($colorNeutral, 10%); }
	}
	#quiz-button-correct { background: $colorPositive; 
		&:hover { background: darken($colorPositive, 10%); }
	}
	#quiz-button-wrong { background: $colorNegative;
		&:hover { background: darken($colorNegative, 10%); }
	}
	#quiz-button-reset { background: $colorNegative;
		&:hover { background: darken($colorNegative, 10%); }
	}
	#quiz-button-reset { 
		position: absolute;
		margin-top: ($fontSize * 6) + ($fontSize * 2);
		width: 100%;
		top: 0; 
	}
}

#quiz #score {
	list-style: none;
	margin: 2em 0;
	padding: 0;
}

#quiz ul#controls {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
	position: relative;
	a {
		color: white;
		display: block;
		width: 100%;
		padding: 8px;
	}
	li {
		border-radius: 8px;
		display: none;
		height: $fontSize * 2;
	}


	.display-toggle {
		display: block;
	}

	@media screen and (min-width: $screen-xs) {
		width: 25%;
	}
}
