@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';



ul.study {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

$colorPositive: #58d47e;
$colorNegative: #be5454;
$colorNeutral: #666;

#quiz {
	margin: 0 auto;
	text-align: center;
	#question {
		margin: 2em;
		#quiz-question {

		}
		#quiz-answer {
		}
	}
	#quiz-answer {
		display: none;
	}
	#quiz-answer.display-toggle-answer {
		display: inline;
	}

	#quiz-button-check { background: $colorPositive; }
	#quiz-button-correct { background: $colorPositive; }
	#quiz-button-wrong { background: $colorNegative; }
	#quiz-button-reset { background: $colorNegative; }
	#quiz-button-reset { margin-top: 2em; }
}

#quiz #score {
	list-style: none;
	margin: 2em 0;
	padding: 0;
}

#quiz ul#controls {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	a {
		color: white;
		display: block;
		padding: 8px;
	}
	li {
		border-radius: 4px;
		display: none;
	}


	.display-toggle {
		display: block;
		@media screen and (min-width: $screen-xs) {
			display: inline-block;
		}
	}
}
