@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

h1 {
	text-align: center;
}

ul.study {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}


#quiz {
	#question {
		margin: 2em;
		#quiz-question {

		}
		#quiz-answer {
		}
	}
	#controls {
		margin: 0;
		padding: 0;
		.change {
			margin: 16px 0;
			padding: 0;
			li {
				display: inline;
			}
		}
		li {
			display: block;
			margin: 8px 0;
			list-style: none;
			a {
				background: blue;
				color: white;
				padding: 8px;
				border-radius: 4px;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}